@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Big Store-Register</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicat project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
    <link href="~/Content/styles/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/styles/jquery.countdown.css" />
    <link href="https://fonts.googleapis.com/css?family=Cairo:300,400,700,900" rel="stylesheet">
</head>
<body>

    <div class="log-register">
        <div class="container">
            <div class="lr-content">
                <div class="log-register-content">
                    <div class="logo_container wow tada">
                        <a href="~/Home/index">
                            <span class="the">the </span>
                            <div class="logo_text">Big Store<span></span></div>
                            <p class="somtitle">The best supermarket</p>
                        </a>
                    </div>


                    <div class="loginregister">
                        <h2 class="title wow bounceInUp delay-100">Create an account</h2>
                        <p class=" wow bounceInUp delay-200">Aleady have an account? <span><a href="~/Home/login"> Login Free!</a></span></p>
                        <div class="loginwith">
                            <ul>
                                <li class="wow bounceInUp delay-300">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i><span class="hidden-xs">facebook</span></a>
                                </li>
                                <li class="wow bounceInUp delay-400">
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i><span>twitter</span></a>
                                </li>
                                <li class="wow bounceInUp delay-500">
                                    <a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span>google</span></a>
                                </li>
                            </ul>

                            <p class="or wow fadeInUp delay-500">or</p>
                        </div>
                        <div class="tabcontent-grids">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group wow bounceInLeft delay-600">

                                            <label>First Name<span>*</span></label>
                                            <input class="form-control" type="text" placeholder="Enter First Name*" required>
                                            <i class="fa fa-user"></i>

                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group wow bounceInLeft delay-700">

                                            <label>last Name<span>*</span></label>
                                            <input class="form-control" type="text" placeholder="Enter Last Name*" required>
                                            <i class="fa fa-user"></i>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group wow bounceInLeft delay-800">

                                    <label>Email<span>*</span></label>
                                    <input class="form-control" type="email" placeholder="Enter Your Email*" required>
                                    <i class="fa fa-envelope"></i>

                                </div>
                                <div class="form-group wow bounceInLeft delay-900">

                                    <label>passwword<span>*</span></label>
                                    <input class="form-control" type="password" placeholder="Enter Your password*" required>
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>

                                </div>
                                <div class="form-group wow bounceInLeft delay-100">

                                    <label>confirm passwword<span>*</span></label>
                                    <input class="form-control" type="password" placeholder="confirm your passwword *" required>
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>

                                </div>
                                <div class="form-group wow bounceInLeft delay-100">
                                    <label>country<span>*</span></label>
                                    <select class="form-control" required="">
                                        <option>select your country</option>
                                        <option selected="">egypt</option>
                                        <option>egypt</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"> Access</label>
                                    <div class="col-md-10">
                                        <select class="form-control" value="2" name="roletype">
                                            <option value="2">Customer</option>
                                            <option value="3">Employee</option>

                                        </select>

                                    </div>
                                </div>


                                <div class="form-group wow bounceInUp delay-100">
                                    <a href="~/Home/login" class="btn btn-primary">creat account</a>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


    <!--        <script src="~/Content/js/jquery-3.3.1.min.js"></script>-->
    <script src="~/Content/https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>

    <!----- Start owl carosel --->
    <!--        <script src="~/Content/js/jquery.min.js"></script>-->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!----- Ebd owl carosel --->

    <script src="~/Content/js/loading.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="~/Content/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>